<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div th:insert="fragments :: locale"></div>
<form th:action="@{/login}" method="post">
    <table border="1" align="center">
        <tr>
            <td>
                <span th:text="#{username}">Username</span>
            </td>
            <td><input type="text" name="username"></td>
        </tr>
        </tr>
        <tr>
            <td>
                <span th:text="#{password}">Password</span>
            </td>
            <td><input type="password" name="password">
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right">
                <button type="submit">
                    <span th:text="#{login}">Login</span>
                </button>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right">
                <form action="/users/registration">
                    <button type="submit">
                        <span th:text="#{registration}">Registration</span>
                    </button>
                </form>
            </td>
        </tr>
    </table>
</form>

<div style="color: red" th:if="${param.error}">
    <span th:text="#{login.error.message}">Login or password are not correct.</span>
</div>
</body>
</html>
